client-service/target/test-classes/client-service.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:context="http://www.springframework.org/schema/context"
      xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd">

    <apikit:config name="first-config" raml="first.raml" consoleEnabled="false" />

    <flow name="first-serviceFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/api/first/*" />
        <apikit:router config-ref="first-config"/>
        <logger message="#[message.payload]" level="INFO" />
        <logger message="AAAAAAAAA" level="INFO"/>
    </flow>

    <flow name="get:/player:first-config">
        <set-payload value="THIS IS PAYLOAD" />
        <logger message="PRINT #[payload]" level="INFO"/>
    </flow>
</mule>